* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  max-width: 100vw;
  /* background: url('./assets/background.png') no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "input-mono", monospace;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  color: #161616;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 100%;
  height: 100vh;

  /* background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */
}

.padding-left-15 {
  padding: 0 0 0 15vw;
}

.padding-left-5 {
  padding: 0 0 0 5vw;
}


.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  padding: 3vh 5vw;
}

.App-logo {
  pointer-events: none;
  width: 50px;

  @media (max-width: 600px) {
    width: 35px;
  }
}

.App-contact {
  text-decoration: none;
}

.canvas-container {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  filter: blur(1em);
  animation: breathing 5s infinite;
  background: linear-gradient(145deg, rgba(181, 203, 253, 1) 0%, #f5f5f5 97%);


}

.canvas-container canvas {
  top: 0;
  left: 0;
  z-index: -1;
}

/* General Typography Styles */


.title {
  font-size: 3em;
}

.aclonica {
  font-family: 'aclonica';
}

.subtitle {
  font-size: 1em;
}

.tagline {
  font-size: 4.5em;
}

.text {
  font-size: 1.5em;
}

.number {
  font-size: 3em;
}

.text--large {
  font-size: 1.8em;
}

.link {
  text-decoration: none;
  color: #000;
}

.link:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }

  .title {
    font-size: 2em;
  }

  .aclonica {
    font-family: 'aclonica';
  }

  .subtitle {
    font-size: 1em;
  }

  .tagline {
    font-size: 2.8em;
  }

  .text {
    font-size: 1.2em;
  }

  .number {
    font-size: 2.4em;
  }

  .text--large {
    font-size: 1.8em;
  }
}

/*WELCOME SECTION */
.screen {
  width: 100%;
  height: 100vh;
  padding: 3vh 5vw;

  @media (max-width: 600px) {
    padding: 3vh 10vw;
  }
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome__titleContainer {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome__title {
  @media (max-width: 600px) {
    padding: 5vh 0 1vh 0;
  }
}


.welcome__tagline {
  margin-top: auto;
  text-align: left;
  padding-bottom: 5vh;
}

/* WELCOME CONTENT (2nd screen) */

.welcome__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10vh 15vw;

  @media (max-width: 600px) {
    padding: 0vh 10vw;
  }
}

.welcome__content__journey {
  text-align: left;
}

.welcome__content__concept {
  text-align: right;
}

.welcome__content .text {
  padding-top: 15px;
}

.welcome__content__numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.welcome__content .link {
  text-decoration: underline;
}

.welcome__content__social .text {
  font-size: 1.2em;

  @media (max-width: 600px) {
    font-size: 1em;
  }
}

/* MAP (3rd screen) */

.welcome__map {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15vh 5vw;
}

.welcome__map .subtitle {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

/* FOOTER */

.footer a {
  color: #161616;
  fill: #161616;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5vh 25vw;
  grid-gap: 2vh;
  max-width: 500px;
  margin: auto;
  box-sizing: content-box;
}

.footer_icon {
  width: 2em;
}

.footer__socials {
  grid-column: 1/4;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer__certification {
  grid-row: 2;
  grid-column: 1/4;
}

/* ANIMATIONS */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes breathing {

  0%,
  100% {
    filter: blur(1em);
  }

  50% {
    filter: blur(2em);
  }
}

/* FONTS */

@font-face {
  font-family: aclonica;
  src: url(../src/assets/fonts/Aclonica-Regular.ttf);
}

/* 

REGULAR
font-family: "input-mono", monospace;
font-weight: 400;
font-style: normal;

ITALIC
font-family: "input-mono", monospace;
font-weight: 400;
font-style: italic;

BOLD
font-family: "input-mono", monospace;
font-weight: 700;
font-style: normal;

BOLD ITALIC
font-family: "input-mono", monospace;
font-weight: 700;
font-style: italic;

*/

.regular {
  font-weight: 400;
  font-style: normal;
}

.italic {
  font-weight: 400;
  font-style: italic;
}