* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  max-width: 100vw;
  /* background: url('./assets/background.png') no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "input-mono", monospace;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  overflow-y: auto;
  color: #161616;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 100%;
  height: 100vh;
}

.padding-left-15 {
  padding: 0 0 0 15vw;
}

.padding-left-5 {
  padding: 0 0 0 5vw;
}


.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  padding: 3vh 5vw;
}

.App-logo {
  pointer-events: none;
  width: 50px;

  @media (max-width: 600px) {
    width: 35px;
  }
}

.App-contact {
  text-decoration: none;
}

.canvas-container {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  animation: breathing 5s infinite;
  background: linear-gradient(145deg, rgba(181, 203, 253, 1) 0%, #f5f5f5 97%);
}

.canvas-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.30);
}

.canvas-container canvas {
  top: 0;
  left: 0;
  z-index: -1;
}

/* General Fonts / Typography Styles */

/* General Fonts / Typography Styles */

.title {
  font-size: clamp(1.6rem, 3vw, 3rem);
}

.aclonica {
  font-family: 'aclonica';
}

.subtitle {
  font-size: clamp(0.8rem, 1vw, 1rem);
}

.tagline {
  font-size: clamp(2.3rem, 4.5vw, 4.5rem);
  line-height: clamp(2.9rem, 5.625vw, 5.625rem);
}

.text {
  font-size: clamp(1.2rem, 1.5vw, 1.5rem);
}

.number {
  font-size: clamp(2.4rem, 3vw, 3rem);
}

.text--large {
  font-size: clamp(1.44rem, 1.8vw, 1.8rem);
}

.link {
  text-decoration: none;
  color: #000;
}

.link:hover {
  text-decoration: underline;
}


/*WELCOME SECTION */
.screen {
  width: 100%;
  min-height: 100vh;
  padding: 3vh 5vw;

  @media (max-width: 600px) {
    padding: 3vh 6vw;
  }
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome__titleContainer {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.welcome__title {
  @media (max-width: 600px) {
    padding: 5vh 0 1vh 0;
  }
}


.welcome__tagline {
  margin-top: auto;
  text-align: left;
  padding-bottom: 5vh;
}

/* WELCOME CONTENT (2nd screen) */

.welcome__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10vh 15vw;

  @media (max-width: 600px) {
    padding: 0vh 6vw;
  }
}

.welcome__content__journey {
  text-align: left;
}

.welcome__content__concept {
  margin: 25vh 0;
  text-align: right;

  @media (max-width: 600px) {
    margin: 20vh 0;
  }
}

.welcome__content .text {
  margin-top: 15px;
}

.welcome__content__numbers {
  margin: 10vh 0;


  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.welcome__content .link {
  text-decoration: underline;
}

.welcome__content__social .text {
  font-size: 1.2rem;

  @media (max-width: 600px) {
    font-size: 1rem;
  }
}

/* MAP (3rd screen) */

.map-section {
  display: grid;
  align-items: center;
  min-height: 80vh;
}

.welcome__map {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15vh 5vw;
}

.welcome__map .subtitle {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.cityLabel {
  color: black;
  transition: padding ease-in 0.2s;
  background: white;
  width: fit-content;
  padding: 5px;
  cursor: pointer;
}

.cityLabel:hover {
  padding: 15px;
}

.css2d-label-container {
  pointer-events: none;
  z-index: 1;
}

.css2d-label-container .cityLabel {
  pointer-events: auto;
}

/* FOOTER */

.footer a {
  color: #161616;
  fill: #161616;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5vh 25vw;
  grid-gap: 2vh;
  max-width: 500px;
  margin: auto;
  box-sizing: content-box;
}

.footer_icon {
  width: 2rem;
}

.footer__socials {
  grid-column: 1/4;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer__certification {
  grid-row: 2;
  grid-column: 1/4;
}


/* ANIMATIONS */

.hidden {
  opacity: 0;
}

.slide-from-top {
  animation: slideFromTop 1s ease-out forwards 0.5s;
}

.fade-in {
  animation: fadeIn 1s ease-out forwards 1.1s;
}

.slide-from-left--delayed {
  animation: slideFromLeft 1s ease-out forwards 1.5s;
}

.slide-from-left {
  animation: appearFromLeft 1s ease-out forwards;
}

.slide-from-right {
  animation: appearFromRight 1s ease-out forwards;
}

@keyframes breathing {

  0%,
  100% {
    filter: blur(0.5em);
  }

  50% {
    filter: blur(0.8em);
  }
}

@keyframes slideFromTop {
  from {
    opacity: 0;

    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  @keyframes slideFromTop {
    from {
      opacity: 0;

      transform: translateY(-50px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

}


@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-5%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appearFromLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appearFromRight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* FONTS */

@font-face {
  font-family: aclonica;
  src: url(../src/assets/fonts/Aclonica-Regular.ttf);
}

/* 

REGULAR
font-family: "input-mono", monospace;
font-weight: 400;
font-style: normal;

ITALIC
font-family: "input-mono", monospace;
font-weight: 400;
font-style: italic;

BOLD
font-family: "input-mono", monospace;
font-weight: 700;
font-style: normal;

BOLD ITALIC
font-family: "input-mono", monospace;
font-weight: 700;
font-style: italic;

*/

.regular {
  font-weight: 400;
  font-style: normal;
}

.italic {
  font-weight: 400;
  font-style: italic;
}